body{
  line-height: 1.1 !important;
}
.App{
  background-color: black;
}
.main-container {
  background-color: black;
}
.detail-container{
  margin-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.navbar-container{
  z-index: 5000;
}
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.nav-item:hover {
  color: #DC3545;
}
.nav-input {
  background-color: black;
  border: #DC3545 2px solid;
  height: 35px;
  width: 400px;
  border-radius: 15px;
  margin-right: 20px;
  padding-left: 10px;
  color: white;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.nav-input::placeholder {
  color: rgb(139, 139, 139);
  filter: brightness(0.5);
  font-size: 13px;
}
.nav-input:focus {
  outline: none;
}
.nav-btn {
  height: 35px;
  border: 2px solid #DC3545;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: #DC3545;
}

.banner{
  height: 95vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 96vh;
  content: '';
  background: linear-gradient(to top, black, transparent);
}
.banner-info{
  margin: 50px 0px auto auto;
  margin-left: 1%;
  color: rgb(219, 219, 219);
  font-size: 18px;
  width: 100%;
  height: 90%;
  z-index: 1;
  overflow: hidden;
}
.banner h1 {
  margin-left: 80px;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.banner p {
  padding-top: 300px;
  margin-left: 50%;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.3;
}
.card-slide{
  margin: 0px 20px;
}
.card{
  background-color: black !important;
  height: 450px !important;
  margin: 0px 10px 0px 10px;
  --bs-card-border-width: 5px !important;
  --bs-card-border-color: black !important;
  --bs-card-border-radius: 15px !important;
}
.overlay{
  margin-top: 100px;
  position: absolute;
  padding: 10px 0px 0px 20px;
  vertical-align: bottom;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  line-height: 1.5;
  z-index: 1;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card-img{
  margin-top: 10px;
}
.card:hover .overlay{
  padding-top: 140px;
  opacity: 1;
}
.card-img{
  transition: 0.8s;
  margin-top: 100px;
  width: 100%;
  height: 200px !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.category{
  font-size: 40px;
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.age-rated{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.poster-area{
  display: flex;
  justify-content: center;
}
.poster{
  width: 90%;
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 30px;
}
.detail-content{
  font-family: 'Poppins', sans-serif;
}
.detail-title {
  font-size: 70px;
}
.detail-content h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  /* border-bottom: 1px solid gray; */
}
.movies-page{
  background-color: black;
}
.badge-style{
  margin: 0px 10px 5px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200 !important; 
}
.loading-container{
  width:99vw;
  height: 99vh;
}
.loading{
  display: block;
  position: fixed;
  top: calc(50%);
  right: calc(50%);
}
.tagline {
  margin: 30px 0px 30px 0px;
}
.rating span:not(:last-child){
  font-size: 20px;
  margin-right: 50px;
  color: rgb(200, 200, 200);
}
.overview{
  margin: 30px 0px 50px 0px;
  padding: 30px 0px 30px 0px;
  color: white;
  font-weight: 100;
  font-size: 19px;
  text-align: start;
  line-height: 1.5;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.detail-info{
  font-weight: 200;
  color: gray;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}
.detail-info-span{
  width: 130px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  margin-right: 30px;
  border: 1px solid yellow;
  border-radius: 10px;
  padding: 0px 7px;
  color: white;
}
.detail-info p {
  padding-top: 5px;
  color: rgb(190, 190, 190);
}
.trailer{
  margin-top: 50px;
}
.detail-more-container {
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px 100px 10px;
}
.related-container{
  padding: 50px 0px 30px 0px;
  height: 500px;
}
.related-container .card {
  height: 500px !important;
}
.review-btn {
  margin-right: 10px;
}
.review-btn, .related-btn {
  background-color: black;
  border: 2px solid rgb(255, 228, 233);
  color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  transition: 0.5s;
}
.review-btn:hover , .related-btn:hover {
  background-color: rgb(255, 224, 229);
  color: black;
}
.review-btn:focus, .related-btn:focus {
  background-color: rgb(255, 224, 229);
  color: black;
}
.review-card{
  border-bottom: 1px solid gray;
  padding: 10px 10px 30px 10px;
  color: rgb(201, 201, 201);
}
.author{
  padding-top: 10px;
  font-size: 25px;
  color: rgb(255, 228, 233);
}
.review-content {
  margin: 20px 5px 30px 5px;
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 0.5px;
}
.review-content p.open{
  max-height: 100%;
}
.review-content p.close {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.review-content span {
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 185, 197);
  color: black;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 5px;
  cursor: pointer;
}
span.more-btn {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 185, 197);
}
.review-date {
  text-decoration: underline overline rgb(255, 185, 197) 1px;
  text-underline-position: under;
  color: gray;
}
.no-review{
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 228, 233, 0.6);
  font-weight: 100;
  font-size: 20px;
}
.no-related{
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 228, 233, 0.6);
  font-weight: 100;
  font-size: 20px;
}
.no-trailer {
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}
.detail-more-content{
  /* border: 1px solid rgb(255, 228, 233); */
  padding: 10px;
}
.detail-more-container .badge-style {
  font-size: 10px;
}
.detail-more-container .card {
  margin-bottom: 50px;
}
.detail-more-container .badge-area{
  margin-bottom: 15px;
}
.watch-btn {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s;
  letter-spacing: 3px;
}
.watch-btn:hover {
  text-shadow: 0px 2px 8px rgb(151, 151, 0);
  color: yellow;
}
.footer {
  border-top: 1px solid rgb(90, 90, 90);
  padding: 20px 0px;
  text-align: center;
  color: gray;
}

/* 슬라이드 화살표 */
.related-container .react-multiple-carousel__arrow{
  top: 200px;
}

/* 네비게이션 인풋창 */
.form-control {
  background-color: black !important;
  border: 1px #DC3545 solid !important;
  font-family: 'Poppins', sans-serif;
  color: rgb(170, 170, 170) !important;
}
.btn {
  font-family: 'Poppins', sans-serif !important;
  color: white !important;
}
.btn:hover {
  color: #DC3545 !important;
  background-color: black !important;
}

/* 모달 창 */
.modal-content {
  height: 800px !important;
  background-color: rgb(0, 0, 0) !important;
  border: 2px solid rgb(46, 46, 46) !important;
}
.modal-header {
  border-bottom: 0px !important;
}
.modal-footer {
  border-top: 0px !important;
  margin-bottom: 20px !important;
  justify-content: center !important;
}
.modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 200 !important;
  color: white;
}
.close-btn {
  color: rgb(219, 219, 219);
  font-family: 'Poppins', sans-serif;
  background-color: black;
  font-size: 20px;
  border: none;
}
.close-btn:hover {
  color: rgb(65, 65, 65);
}

/* movies 창 */
.movies-page {
  margin-top: 50px;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movies-container .mvs-card {
  width: 350px;
}
.mvs-card{
  cursor: pointer;
  background-color: rgb(0, 0, 0) !important;
  border: 3px solid gray;
  border-radius: 15px;
  box-shadow: 10px 15px 20px rgb(49, 49, 49);
  height: auto !important;
  margin: 0px 10px 50px 10px;
  --bs-card-border-width: 5px !important;
  --bs-card-border-color: black !important;
  --bs-card-border-radius: 15px !important;
}
.mvs-card-img{
  margin-top: 20px;
  height: 190px !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.mvs-overlay{
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 15px;
  /* position: absolute; */
  padding: 10px 20px 0px 20px;
  vertical-align: bottom;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.test {
  border: 3px solid gray;
  border-radius: 15px;
  width: 100%;
  height: 1100px;
}

/* 페이지네이션 */
.page-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}
.page-btn-container button {
  background-color: black;
  color: white;
  border: 2px solid rgb(255, 185, 197);
  width: 30px;
  height: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.page-btn-container button {
  margin-right: 5px;
  text-align: center;
  padding: 0px;
  font-size: 14px
}
.page-btn-container button:hover {
  background-color: rgb(255, 185, 197);
  color: black;
  border: none;
}

/* 정렬 창 */
.pop-new-sort-header, .year-sort-header, .genre-sort-header {
  margin: 30px auto;
  text-align: center;
  color: rgb(200, 200, 200, 0.7);
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.pop-new-sort-btn-area {
  text-align: center;
}
.pop-new-sort-btn-area button {
  border: 2px solid #DC3545;
  margin: 5px;
  border-radius: 15px;
  width: 140px;
  height: 35px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: black;
  letter-spacing: 0.3px;
  transition: 0.2s;
}
.pop-new-sort-btn-area button:hover {
  background-color: #DC3545;
}
.clicked {
  background-color: #DC3545 !important;
}
.pop-new-sorting-option-display {
  text-align: center;
  color: rgb(255, 255, 255, 0.5);
  border-bottom: 10px dashed rgb(50, 50, 50);
  margin: 15px 10px 0px 10px;
  padding-bottom: 15px;
}
.year-sorting-area {
  /* text-align: center; */
  margin-top: 50px;
  width: 100%;
}

.range-bar {
  height: 5px;
  background-color: gray;
  border-radius: 15px;
  position: relative;
}
.range-bar-inner {
  background-color: #DC3545;
  height: 5px;
  position: absolute;
  border-radius: 15px;
  left: 1px;
  right: 1px;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  background-color: #DC3545;
  border-radius: 15px;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0px 0px 7px black;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  width: 17px;
  height: 17px;
  background-color: #DC3545;
  border-radius: 15px;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0px 0px 7px black;
}

.left-slidebar{
  position: absolute;
  margin-right: 15px;
}
.right-slidebar{
  position: absolute;
  margin-left: 15px;
}

.year-sorting-display {
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin: 40px 10px 0px 10px;
  padding-bottom: 30px;
  border-bottom: 10px dashed rgb(50, 50, 50);
}
.year-sorting-display p {
  padding-top: 7px;
}

.genre-sorting-area{
  width: 100%;
  margin: auto;
}
.genre-sort-header {
  margin-top: 50px;
}
.genre-sorting-btn {
  width: 300px;
  margin: auto;
}
.genre-sort-btns {
  border: 2px solid #DC3545;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  width: 140px;
  height: 35px;
  margin: 5px;
  transition: 0.2s;
}
.genre-sort-btns:hover {
  background-color: #DC3545;
}

@media (max-width: 1370px) {
  .banner p {
    padding-top: 250px;
  }
  .modal-content {
    height: 770px !important;
  }
}

@media (max-width: 1020px) {
  .banner h1 {
    margin-left: 0px;
    font-size: 70px;
    text-align: center;
  }
  .modal-content {
    height: 680px !important;
  }
}

@media (max-width: 641px) {
  .banner h1 {
    font-size: 50px;
  }
  .banner p {
    font-size: 16px;
    font-weight: 200;
  }
  .category {
    font-size: 30px;
  }
  .modal-content {
    height: 640px !important;
  }
  .modal-footer {
    padding-top: 5px !important;
  }
}

@media (max-width: 450px) {
  .overview {
    text-align: center;
  }
  .detail-info div{
    margin-left: 55px;
  }
  .detail-more-container{
    text-align: center;
  }
  .detail-more-content {
    text-align: start;
  }
  .review-btn, .related-btn {
    width: 150px;
    height: 45px;
    font-size: 18px;
  }
  .poster {
    height: 550px;
  }
  .banner h1 {
    margin-left: 0px;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
  .banner p {
    font-size: 15px;
    padding-top: 330px;
    margin-left: 50%;
    margin-right: 30px;
    line-height: 1.3;
    font-weight: 200;
  }
  .detail-title {
    font-size: 50px;
  }
  .detail-content h2 {
    font-size: 23px;
  }
  .category {
    font-size: 25px;
  }
  .overview {
    font-size: 15px;
  }
  .watch-btn{
    font-size: 13px;
  }
  .review-content {
    font-size: 14px;
  }
  .modal-content {
    height: 500px !important;
  }
  .modal-body {
    padding: 5px 15px 15px 15px !important;
  }
}



@media (max-height: 391px) {
  .banner p {
    padding-top: 60px;
    font-size: 15px;
    font-weight: 200;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner {
    height: 110vh;
  }
  .banner::before {
    height: 110vh;
  }
  .detail-title {
    font-size: 50px;
  }
  .modal-content {
    height: 500px !important;
  }
  .modal-body {
    padding: 5px 15px 5px 15px !important;
  }
  .modal-footer {
    padding-top: 0px !important;
  }
}